html,
body {
}

body {
    height: 400vh;
    /* background: black; */
    /* color: white; */
    box-sizing: border-box;
    background-color: #000;
}

.container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300vh;
}

svg {
    width: 100dvw;
    height: 100%;
    overflow: visible;
    background-color: #000;
    aspect-ratio: 1/1;
}
@media (max-width: 768px) {
    svg {
        aspect-ratio: 0.5/1;
    }
}

.item {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.line {
    fill: none;
    stroke: white;
    stroke-width: 2px;
}
text {
    fill: white;
    font-size: 15px;
    font-family: "Signika Negative", sans-serif;
    visibility: hidden;
    max-width: 200px;
    overflow: hidden;
}
.item01:hover,
.item02:hover,
.item03:hover {
    /* apply glowing filter */
    filter: url(#glow2);
}

h2 {
    margin: 0;
}

.popup {
    position: absolute;
    width: 500px;
    height: fit-content;
    background-color: #575555e2;
    padding: 2rem;
    border-radius: 0.5rem;
    top: 0;
    left: 0;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Retro game styles */
    border: 1px solid #fff;
    background-size: 100% 200%;
    transition: background-position 0.5s;
}
.popup:hover {
    background-position: 0% -100%;
}
.popup__content {
    padding: 0.5rem;
    border-radius: 0.25rem;
}
.popup01 {
    /* top: 60dvh; */
    /* top: calc(50vh * 2); */
    /* right: 35vw; */
}
.popup02 {
    /* top: 175dvh; */
    /* left: 25vw; */
}
.popup03 {
    /* top: 280dvh; */
    /* left: auto; */
    /* right: 25vw; */
}
.ball {
    fill: url(#Gradient1);
    filter: url(#glow);
    visibility: hidden;
}

.offset {
    height: 50vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fancy-text {
    font-size: 24px;
    font-weight: bold;
    color: white;
    background: linear-gradient(to right, #fc8b8b, #fc8b8b, #fff);
    padding: 10px 20px;
    border-radius: 5px;
    /* box shadow with gradient */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    /* animation */
    animation: animateGradient 3s ease-in-out infinite;
}
@keyframes animateGradient {
    0% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
    50% {
        box-shadow: 0 0 100px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
}
